body {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  /* margin: 1.5rem; */
  /* bottom: 0rem; */
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}

body {
  background-color: #faf6ed;
  color: #222;
  display: grid;
}

.menu {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fb5;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  gap: 50px;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: rgb(68, 42, 1);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-items: center;
}

.titulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 0.1rem;
  color: rgb(68, 42, 1);
}
